.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero-head {
  font-size: var(--font-size-10);
  margin-bottom: var(--spacing-4);
}

.hero-intro {
  font-size: var(--font-size-6);
  max-width: 35em;
  margin-bottom: var(--spacing-7);
}

.store-link {
  padding: var(--spacing-3) var(--spacing-7);
  text-decoration: none;
  background-color: var(--grey-700);
  color: var(--grey-100);
  font-weight: 700;
  font-size: var(--font-size-5);
  box-shadow: var(--shadow-3);
}

.store-link:active {
  box-shadow: var(--shadow-1);
}
