.main-container {
  display: flex;
  justify-content: center;
  align-items: start;
  padding: var(--spacing-6) var(--spacing-8);
}

.container {
  display: flex;
  background-color: var(--grey-100);
  box-shadow: var(--shadow-4);
}

.empty-message {
  font-size: var(--font-size-8);
  font-weight: 700;
  padding: var(--spacing-9) var(--spacing-10);
  color: var(--accent-2-900);
}
