.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: flex-end;
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s ease;
}

.container {
  flex-basis: var(--spacing-14);
  display: flex;
  flex-direction: column;
  background-color: var(--grey-200);
  box-shadow: var(--shadow-5);
  transform: translateX(100%);
  transition: transform 0.5s ease;
  overflow-y: auto;
}

.modal-overlay.open {
  opacity: 1;
  visibility: visible;
}

.container.open {
  transform: translateX(0);
}

.close-modal-button {
  position: absolute;
  top: var(--spacing-2);
  right: var(--spacing-3);
  border: none;
  background-color: var(--grey-100);
  color: var(--grey-500);
}

.close-modal-button:hover {
  color: var(--primary-800);
}

.cart-quantity-info {
  display: flex;
  justify-content: center;
  background-color: var(--grey-100);
  color: var(--primary-800);
  font-weight: 700;
  font-size: var(--font-size-5);
  padding: var(--spacing-3) var(--spacing-8);
}

.cart-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: var(--spacing-2) var(--spacing-4);
}

.subtotal-info {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  font-size: var(--font-size-4);
}

.subtotal {
  font-weight: 700;
  color: var(--primary-900);
}

.cart-link {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--spacing-2) 0;
  margin: var(--spacing-5) 0;
  background-color: var(--primary-800);
  color: var(--grey-100);
  font-weight: 700;
  text-decoration: none;
}

.item-list {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-4);
  list-style: none;
  padding-left: 0;
  padding-bottom: var(--spacing-4);
}
