.container {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  padding: 0 var(--spacing-6);
  background-color: var(--grey-100);
  box-shadow: 0 0 10px var(--grey-400);
}

.brandname {
  display: flex;
  align-items: center;
  font-size: var(--font-size-7);
  font-weight: 700;
  letter-spacing: -1px;
}

.navigation {
  display: flex;
  align-items: stretch;
  gap: var(--spacing-6);
}

.cart-open-button {
  padding: 0;
  border: none;
  background: none;
}

.nav-item {
  display: flex;
  align-items: center;
  padding: var(--spacing-4);

  color: var(--grey-500);
  text-decoration: none;
  font-weight: 700;
  font-size: var(--font-size-4);
  border-bottom: solid var(--spacing-1) var(--grey-100);
}

.nav-item:hover {
  color: var(--grey-800);
}

.selected {
  color: var(--grey-800);
  border-bottom: solid var(--spacing-1) var(--grey-800);
}
