.main-container {
  display: flex;
  justify-content: center;
  align-self: center;
  padding: var(--spacing-5) var(--spacing-5);
}

.container {
  padding: var(--spacing-5) var(--spacing-5);
  background-color: var(--grey-100);
  box-shadow: var(--shadow-5);
  width: var(--spacing-17);
}
